<div class="content">
		<h1> Welcome to Dreamweaver Level 1 </h1>
     <h6> 
      It was a great 1st day of class. I want to thank you all for participating and being involved. Please study the class notes for day one
      and be prepared for a small quiz and "do it yourself" challenges next 
      Saturday. Also I can't emphasize this enough... practice, practice, practice.
      </h6>

      <h6> If you had to leave early or didn't attend class please download 
       <%= link_to "Download Day 1 Files", "https://s3.amazonaws.com/ra_epcc/dreamweaver1/Day+One+Files.zip", 
                 :target => "_blank" %> take a look at first_site, study the HTML and CSS and try to make your own version of the file. 


      <h6> Below you will be able to find resources that will be posted through out the course. Have fun!</h6> 
      <p> Day One </p>

      <ul>
        <li> <%= link_to "Download the Sylybus", asset_path('https://s3.amazonaws.com/ra_epcc/dreamweaver1/Syllabus.pdf'), 
        :target => "_blank" %>
        </li>

        <li> <%= link_to "Download 1st Day Class Notes", "https://s3.amazonaws.com/ra_epcc/dreamweaver1/day_one_notes.pdf", 
        :target => "_blank" %>
        </li>

        <li> <%= link_to "Download Dreamweaver Trail", "http://www.adobe.com/cfusion/tdrc/index.cfm?product=dreamweaver&loc=en_us", 
        :target => "_blank" %>
        </li>

        <li> <%= link_to "Download Day 1 Files", "https://s3.amazonaws.com/ra_epcc/dreamweaver1/Day+One+Files.zip", 
        :target => "_blank" %>
        </li>
      </ul>


          <p> Day Two </p>

          <ul>

          </ul>
</div>