 <%= form_for(@user_session) do |f| %>
     <% if @user_session.errors.any? %>
       <div id="" class="notification_error">
        <h2>Check the following <%=pluralize(@user_session.errors.count, "error") %> </h2>

         <ul>
         <% @user_session.errors.full_messages.each do |msg| %>
           <li><%= msg %></li>
         <% end %>
         </ul>
       </div>
     <% end %>

     <div class="field">
       <%= f.label :email %><br />
       <%= f.text_field :email %>
     </div>

     <div class="field">
       <%= f.label :password %><br />
       <%= f.password_field :password %>
     </div>

     <div class="actions">
       <%= f.submit 'Login' %>
     </div>

    <% end %>